body {
    background-color: rgb(1, 1, 26);
    font-family: 'Arial', sans-serif;
    color: aliceblue;
    margin: 0;
    padding: 0;
}

.cabeçalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.605rem;
    font-family: "Press Start 2P", system-ui;
    font-size: 1.5rem;
    background: linear-gradient(blue, #2C2255);
    color: white;
    padding: 20px;
}

h4 {
    margin: 5px;
}

main {
    margin: 20px auto;
    max-width: 800px;
}

.textFbox, .textValuebox1, .textResultbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    margin: 1rem 0;
}

.text_space {
    display: flex;
    justify-content: center;
}

input[type="number"], select {
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 80%;
    height: 40px;
    color: black;
    border-radius: 0.605rem;
    background-color: whitesmoke;
    font-size: 1rem;
    border: 1px solid #ccc;
}

.conversion-direction {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    margin-top: 20px;
}

#resultbox {
    background-color: transparent;
    color: rgb(245, 245, 245);
}

.resultado-verde {
    color: #2ecc71;
}
